# palette = "catppuccin_latte"
palette = "catppuccin_mocha"

add_newline = false

format = """
$kubernetes\
$container\
$username@$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$character
"""

right_format = """
$shell
"""

[character]
success_symbol = '[❯](bold green) '
error_symbol = '[❯](bold red) '

[container]
# symbol = ''
symbol = '⬢'
format = '[$symbol]($style) '
style = 'pink'

[directory]
format = '[$path]($style)[$read_only]($read_only_style) '
truncation_length = 3
truncate_to_repo = true
fish_style_pwd_dir_length = 1
style = 'yellow'

[git_branch]
symbol = ''
format = '[[\(](white)$branch(:$remote_branch)[|](white)]($style)'
style = 'pink'

[git_status]
format = '[$all_status$ahead_behind[\)](white)]($style) '
conflicted = '='
ahead = '$count⇡'
behind = '$count⇣'
diverged = '⇕'
up_to_date = '[✓](green)'
untracked = ''
stashed = '$'
modified = "!"
staged = "+"
renamed = "[»](yellow)"
deleted = "[✗](red)"
typechanged = ""
style = 'blue'

[hostname]
ssh_only = false
format = '[$ssh_symbol](bold blue)[$hostname](blue) '
trim_at = '.companyname.com'
disabled = false

[kubernetes]
symbol = '󱃾  '
format = '[$symbol$context( \($namespace\))]($style) '
disabled = true

[python]
format = '[(\($virtualenv\) )]($style)'
style = 'bold purple'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[shell]
bash_indicator = "bash"
fish_indicator = "fish"
nu_indicator = "nu"
format = '[$indicator]($style)'
style = 'green'
disabled = false

[username]
style_user = 'green'
style_root = 'red'
format = '[$user]($style)'
disabled = false
show_always = true
